<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a9d837d33c803b4667b0282852af337b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_a9d837d33c803b4667b0282852af337b" ></div>
        
</body>
<script>
    
    
            var map_a9d837d33c803b4667b0282852af337b = L.map(
                "map_a9d837d33c803b4667b0282852af337b",
                {
                    center: [37.77919, -122.41914],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8569dec025aeb4b70c631331cf074024 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png",
                {"attribution": "Map tiles by \u003ca target=\"_blank\" href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a9d837d33c803b4667b0282852af337b);
        
    
            var circle_marker_99ab9d413e8017259128289826632cb6 = L.circleMarker(
                [37.78445, -122.416075],
                {"bubblingMouseEvents": true, "color": "#1f77b4", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#1f77b4", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 5}
            ).addTo(map_a9d837d33c803b4667b0282852af337b);
        
    
        var popup_8543af25b0400e07d353db84b77d268c = L.popup({"maxWidth": "100%"});

        
            
                var html_bfdc4844852d305fee8dd6ed3987805a = $(`<div id="html_bfdc4844852d305fee8dd6ed3987805a" style="width: 100.0%; height: 100.0%;"><i>PROSTITUTION</i></div>`)[0];
                popup_8543af25b0400e07d353db84b77d268c.setContent(html_bfdc4844852d305fee8dd6ed3987805a);
            
        

        circle_marker_99ab9d413e8017259128289826632cb6.bindPopup(popup_8543af25b0400e07d353db84b77d268c)
        ;

        
    
    
            var circle_marker_e8b58445aa841fa9f5e92d1f23817520 = L.circleMarker(
                [37.763634, -122.41623],
                {"bubblingMouseEvents": true, "color": "#1f77b4", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#1f77b4", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 5}
            ).addTo(map_a9d837d33c803b4667b0282852af337b);
        
    
        var popup_1f9ec4abf73e54037fa9ad2fbb9a4c58 = L.popup({"maxWidth": "100%"});

        
            
                var html_4233ff2f77fcf565b6f807928ac67bf9 = $(`<div id="html_4233ff2f77fcf565b6f807928ac67bf9" style="width: 100.0%; height: 100.0%;"><i>PROSTITUTION</i></div>`)[0];
                popup_1f9ec4abf73e54037fa9ad2fbb9a4c58.setContent(html_4233ff2f77fcf565b6f807928ac67bf9);
            
        

        circle_marker_e8b58445aa841fa9f5e92d1f23817520.bindPopup(popup_1f9ec4abf73e54037fa9ad2fbb9a4c58)
        ;

        
    
    
            var circle_marker_c19cdb6cca94f818f8a8ec20aabb63c2 = L.circleMarker(
                [37.760433, -122.41593],
                {"bubblingMouseEvents": true, "color": "#1f77b4", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#1f77b4", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 5}
            ).addTo(map_a9d837d33c803b4667b0282852af337b);
        
    
        var popup_032f0aff1709cf7cfe78f4f3894d5bff = L.popup({"maxWidth": "100%"});

        
            
                var html_ae28d5640786968433796c85143ee77f = $(`<div id="html_ae28d5640786968433796c85143ee77f" style="width: 100.0%; height: 100.0%;"><i>PROSTITUTION</i></div>`)[0];
                popup_032f0aff1709cf7cfe78f4f3894d5bff.setContent(html_ae28d5640786968433796c85143ee77f);
            
        

        circle_marker_c19cdb6cca94f818f8a8ec20aabb63c2.bindPopup(popup_032f0aff1709cf7cfe78f4f3894d5bff)
        ;

        
    
    
            var circle_marker_cee58397e46bc90b6e38cbaf7c7423e8 = L.circleMarker(
                [37.787965, -122.418468],
                {"bubblingMouseEvents": true, "color": "#1f77b4", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#1f77b4", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 5}
            ).addTo(map_a9d837d33c803b4667b0282852af337b);
        
    
        var popup_d8562c02d67889669c2af227fce8348c = L.popup({"maxWidth": "100%"});

        
            
                var html_b8c8461f464b66f7e0f46b145ea97734 = $(`<div id="html_b8c8461f464b66f7e0f46b145ea97734" style="width: 100.0%; height: 100.0%;"><i>PROSTITUTION</i></div>`)[0];
                popup_d8562c02d67889669c2af227fce8348c.setContent(html_b8c8461f464b66f7e0f46b145ea97734);
            
        

        circle_marker_cee58397e46bc90b6e38cbaf7c7423e8.bindPopup(popup_d8562c02d67889669c2af227fce8348c)
        ;

        
    
    
            var circle_marker_34d7dd6ab4de4d4063a6b5d32dda1cb9 = L.circleMarker(
                [37.787037, -122.418274],
                {"bubblingMouseEvents": true, "color": "#1f77b4", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#1f77b4", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 5}
            ).addTo(map_a9d837d33c803b4667b0282852af337b);
        
    
        var popup_21acc59826ddc23527a5b99ba82c98fe = L.popup({"maxWidth": "100%"});

        
            
                var html_c685a70acee85ec0a32265e7227b0d94 = $(`<div id="html_c685a70acee85ec0a32265e7227b0d94" style="width: 100.0%; height: 100.0%;"><i>PROSTITUTION</i></div>`)[0];
                popup_21acc59826ddc23527a5b99ba82c98fe.setContent(html_c685a70acee85ec0a32265e7227b0d94);
            
        

        circle_marker_34d7dd6ab4de4d4063a6b5d32dda1cb9.bindPopup(popup_21acc59826ddc23527a5b99ba82c98fe)
        ;

        
    
    
            var circle_marker_251e3c4fba216f3f9015102353958380 = L.circleMarker(
                [37.787486, -122.418369],
                {"bubblingMouseEvents": true, "color": "#1f77b4", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#1f77b4", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 5}
            ).addTo(map_a9d837d33c803b4667b0282852af337b);
        
    
        var popup_140e56c6e8cea60b491fb1a2f18cd7df = L.popup({"maxWidth": "100%"});

        
            
                var html_a373c07dab2cb8d7ae2d5ae9cb3475cc = $(`<div id="html_a373c07dab2cb8d7ae2d5ae9cb3475cc" style="width: 100.0%; height: 100.0%;"><i>PROSTITUTION</i></div>`)[0];
                popup_140e56c6e8cea60b491fb1a2f18cd7df.setContent(html_a373c07dab2cb8d7ae2d5ae9cb3475cc);
            
        

        circle_marker_251e3c4fba216f3f9015102353958380.bindPopup(popup_140e56c6e8cea60b491fb1a2f18cd7df)
        ;

        
    
    
            var circle_marker_bb473d6816a50a7b2f1e3620cfa3f71f = L.circleMarker(
                [37.765249, -122.41639],
                {"bubblingMouseEvents": true, "color": "#1f77b4", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#1f77b4", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 5}
            ).addTo(map_a9d837d33c803b4667b0282852af337b);
        
    
        var popup_b882b4b2f3a624ef6ee897dc97ff5557 = L.popup({"maxWidth": "100%"});

        
            
                var html_76ad15b843c9350b856e54dceb196b99 = $(`<div id="html_76ad15b843c9350b856e54dceb196b99" style="width: 100.0%; height: 100.0%;"><i>PROSTITUTION</i></div>`)[0];
                popup_b882b4b2f3a624ef6ee897dc97ff5557.setContent(html_76ad15b843c9350b856e54dceb196b99);
            
        

        circle_marker_bb473d6816a50a7b2f1e3620cfa3f71f.bindPopup(popup_b882b4b2f3a624ef6ee897dc97ff5557)
        ;

        
    
    
            var circle_marker_9717e97157daa168060ce90e2b3fa9b5 = L.circleMarker(
                [37.758697, -122.417964],
                {"bubblingMouseEvents": true, "color": "#1f77b4", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#1f77b4", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 5}
            ).addTo(map_a9d837d33c803b4667b0282852af337b);
        
    
        var popup_364fdb15dd0ef6a1660782d134e02871 = L.popup({"maxWidth": "100%"});

        
            
                var html_194a4bbfcc1afb545198ce5f4da0afbe = $(`<div id="html_194a4bbfcc1afb545198ce5f4da0afbe" style="width: 100.0%; height: 100.0%;"><i>PROSTITUTION</i></div>`)[0];
                popup_364fdb15dd0ef6a1660782d134e02871.setContent(html_194a4bbfcc1afb545198ce5f4da0afbe);
            
        

        circle_marker_9717e97157daa168060ce90e2b3fa9b5.bindPopup(popup_364fdb15dd0ef6a1660782d134e02871)
        ;

        
    
    
            var circle_marker_a2c2a3534ed78a54c4be3a3a6da6a412 = L.circleMarker(
                [37.764221, -122.419658],
                {"bubblingMouseEvents": true, "color": "#ff7f0e", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff7f0e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 5}
            ).addTo(map_a9d837d33c803b4667b0282852af337b);
        
    
        var popup_030f96dbb24fa8c931dfb27f5b4855ea = L.popup({"maxWidth": "100%"});

        
            
                var html_a994db12eac8b838ac4d8a8b1342bef5 = $(`<div id="html_a994db12eac8b838ac4d8a8b1342bef5" style="width: 100.0%; height: 100.0%;"><i>DRUG/NARCOTIC</i></div>`)[0];
                popup_030f96dbb24fa8c931dfb27f5b4855ea.setContent(html_a994db12eac8b838ac4d8a8b1342bef5);
            
        

        circle_marker_a2c2a3534ed78a54c4be3a3a6da6a412.bindPopup(popup_030f96dbb24fa8c931dfb27f5b4855ea)
        ;

        
    
    
            var circle_marker_ee950ff65b5e36f4a55c013d4f18590b = L.circleMarker(
                [37.775421, -122.403405],
                {"bubblingMouseEvents": true, "color": "#ff7f0e", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff7f0e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 5}
            ).addTo(map_a9d837d33c803b4667b0282852af337b);
        
    
        var popup_9c8121b2b785dc57546301066c82ec22 = L.popup({"maxWidth": "100%"});

        
            
                var html_13ecca148b7204d5aeb20fef62a321af = $(`<div id="html_13ecca148b7204d5aeb20fef62a321af" style="width: 100.0%; height: 100.0%;"><i>DRUG/NARCOTIC</i></div>`)[0];
                popup_9c8121b2b785dc57546301066c82ec22.setContent(html_13ecca148b7204d5aeb20fef62a321af);
            
        

        circle_marker_ee950ff65b5e36f4a55c013d4f18590b.bindPopup(popup_9c8121b2b785dc57546301066c82ec22)
        ;

        
    
    
            var circle_marker_8626e88b2119d7ad9f07fc7e872a4433 = L.circleMarker(
                [37.782793, -122.414056],
                {"bubblingMouseEvents": true, "color": "#ff7f0e", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff7f0e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 5}
            ).addTo(map_a9d837d33c803b4667b0282852af337b);
        
    
        var popup_28240991fb883a01b240bfaccc199887 = L.popup({"maxWidth": "100%"});

        
            
                var html_1a057c92aea0fb7c5cfe661c728e5201 = $(`<div id="html_1a057c92aea0fb7c5cfe661c728e5201" style="width: 100.0%; height: 100.0%;"><i>DRUG/NARCOTIC</i></div>`)[0];
                popup_28240991fb883a01b240bfaccc199887.setContent(html_1a057c92aea0fb7c5cfe661c728e5201);
            
        

        circle_marker_8626e88b2119d7ad9f07fc7e872a4433.bindPopup(popup_28240991fb883a01b240bfaccc199887)
        ;

        
    
    
            var circle_marker_fff3fc79e568f171e6858e67d5e9d358 = L.circleMarker(
                [37.783386, -122.409854],
                {"bubblingMouseEvents": true, "color": "#ff7f0e", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff7f0e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 5}
            ).addTo(map_a9d837d33c803b4667b0282852af337b);
        
    
        var popup_e53611f492e3b094843c3b14359139d2 = L.popup({"maxWidth": "100%"});

        
            
                var html_8d9fe9339369153f8b5a2ed27a6a978d = $(`<div id="html_8d9fe9339369153f8b5a2ed27a6a978d" style="width: 100.0%; height: 100.0%;"><i>DRUG/NARCOTIC</i></div>`)[0];
                popup_e53611f492e3b094843c3b14359139d2.setContent(html_8d9fe9339369153f8b5a2ed27a6a978d);
            
        

        circle_marker_fff3fc79e568f171e6858e67d5e9d358.bindPopup(popup_e53611f492e3b094843c3b14359139d2)
        ;

        
    
    
            var circle_marker_3aec97c0fa036b59281d7798a4d7734d = L.circleMarker(
                [37.783215, -122.410769],
                {"bubblingMouseEvents": true, "color": "#ff7f0e", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff7f0e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 5}
            ).addTo(map_a9d837d33c803b4667b0282852af337b);
        
    
        var popup_f50604a7502fee07c410e39a3f7d2067 = L.popup({"maxWidth": "100%"});

        
            
                var html_b9cc21bca87d46dfdf3d8db23416770c = $(`<div id="html_b9cc21bca87d46dfdf3d8db23416770c" style="width: 100.0%; height: 100.0%;"><i>DRUG/NARCOTIC</i></div>`)[0];
                popup_f50604a7502fee07c410e39a3f7d2067.setContent(html_b9cc21bca87d46dfdf3d8db23416770c);
            
        

        circle_marker_3aec97c0fa036b59281d7798a4d7734d.bindPopup(popup_f50604a7502fee07c410e39a3f7d2067)
        ;

        
    
    
            var circle_marker_aaa59e0a072da28ab2ab5191967dbcb6 = L.circleMarker(
                [37.781751, -122.411071],
                {"bubblingMouseEvents": true, "color": "#ff7f0e", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff7f0e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 5}
            ).addTo(map_a9d837d33c803b4667b0282852af337b);
        
    
        var popup_e6422593bac9ffa9a6cc2e143282bdfa = L.popup({"maxWidth": "100%"});

        
            
                var html_6985093b07e110b34a295f99d0269e4f = $(`<div id="html_6985093b07e110b34a295f99d0269e4f" style="width: 100.0%; height: 100.0%;"><i>DRUG/NARCOTIC</i></div>`)[0];
                popup_e6422593bac9ffa9a6cc2e143282bdfa.setContent(html_6985093b07e110b34a295f99d0269e4f);
            
        

        circle_marker_aaa59e0a072da28ab2ab5191967dbcb6.bindPopup(popup_e6422593bac9ffa9a6cc2e143282bdfa)
        ;

        
    
    
            var circle_marker_a92b1939cd35c6ff02f8417df2db6ee3 = L.circleMarker(
                [37.781862, -122.41387],
                {"bubblingMouseEvents": true, "color": "#ff7f0e", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff7f0e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 5}
            ).addTo(map_a9d837d33c803b4667b0282852af337b);
        
    
        var popup_69ac3ba7d41210bf49f3a7abdf6ccb46 = L.popup({"maxWidth": "100%"});

        
            
                var html_b693c59bc373ef91d5031d9d93e222fb = $(`<div id="html_b693c59bc373ef91d5031d9d93e222fb" style="width: 100.0%; height: 100.0%;"><i>DRUG/NARCOTIC</i></div>`)[0];
                popup_69ac3ba7d41210bf49f3a7abdf6ccb46.setContent(html_b693c59bc373ef91d5031d9d93e222fb);
            
        

        circle_marker_a92b1939cd35c6ff02f8417df2db6ee3.bindPopup(popup_69ac3ba7d41210bf49f3a7abdf6ccb46)
        ;

        
    
    
            var circle_marker_6211e9e90d6215ab2c2618f9bd7e2065 = L.circleMarker(
                [37.76505, -122.419672],
                {"bubblingMouseEvents": true, "color": "#ff7f0e", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff7f0e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 5}
            ).addTo(map_a9d837d33c803b4667b0282852af337b);
        
    
        var popup_c93e61e6c0a914b57ee4ca2ed74ae805 = L.popup({"maxWidth": "100%"});

        
            
                var html_7b4f34bd0e11f4e4d6e5c84ecf3a3d10 = $(`<div id="html_7b4f34bd0e11f4e4d6e5c84ecf3a3d10" style="width: 100.0%; height: 100.0%;"><i>DRUG/NARCOTIC</i></div>`)[0];
                popup_c93e61e6c0a914b57ee4ca2ed74ae805.setContent(html_7b4f34bd0e11f4e4d6e5c84ecf3a3d10);
            
        

        circle_marker_6211e9e90d6215ab2c2618f9bd7e2065.bindPopup(popup_c93e61e6c0a914b57ee4ca2ed74ae805)
        ;

        
    
</script>
</html>