<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_aa54e1b03dca3516cf3395b1880ac417 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_aa54e1b03dca3516cf3395b1880ac417" ></div>
        
</body>
<script>
    
    
            var map_aa54e1b03dca3516cf3395b1880ac417 = L.map(
                "map_aa54e1b03dca3516cf3395b1880ac417",
                {
                    center: [37.77919, -122.41914],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_1aceff7ed494f98798d39b1989518447 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png",
                {"attribution": "Map tiles by \u003ca target=\"_blank\" href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_aa54e1b03dca3516cf3395b1880ac417);
        
    
            var circle_marker_2cfa26ab157849011dadec53eac3ec10 = L.circleMarker(
                [37.78445, -122.416075],
                {"bubblingMouseEvents": true, "color": "#1f77b4", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#1f77b4", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 5}
            ).addTo(map_aa54e1b03dca3516cf3395b1880ac417);
        
    
        var popup_b85c58d215e7342f5a3544d1b6ed1347 = L.popup({"maxWidth": "100%"});

        
            
                var html_b10461a98dd3748b25729caf0ab69b15 = $(`<div id="html_b10461a98dd3748b25729caf0ab69b15" style="width: 100.0%; height: 100.0%;"><i>PROSTITUTION: 1179 cases </i></div>`)[0];
                popup_b85c58d215e7342f5a3544d1b6ed1347.setContent(html_b10461a98dd3748b25729caf0ab69b15);
            
        

        circle_marker_2cfa26ab157849011dadec53eac3ec10.bindPopup(popup_b85c58d215e7342f5a3544d1b6ed1347)
        ;

        
    
    
            circle_marker_2cfa26ab157849011dadec53eac3ec10.bindTooltip(
                `<div>
                     PROSTITUTION
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_43ba8d63821fd8d8a62943e4622c6dd8 = L.circleMarker(
                [37.763634, -122.41623],
                {"bubblingMouseEvents": true, "color": "#1f77b4", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#1f77b4", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 5}
            ).addTo(map_aa54e1b03dca3516cf3395b1880ac417);
        
    
        var popup_bc0399e683310bc670a9600ddf617fe3 = L.popup({"maxWidth": "100%"});

        
            
                var html_b749f378e10a78cd67490cf6d2beb361 = $(`<div id="html_b749f378e10a78cd67490cf6d2beb361" style="width: 100.0%; height: 100.0%;"><i>PROSTITUTION: 1013 cases </i></div>`)[0];
                popup_bc0399e683310bc670a9600ddf617fe3.setContent(html_b749f378e10a78cd67490cf6d2beb361);
            
        

        circle_marker_43ba8d63821fd8d8a62943e4622c6dd8.bindPopup(popup_bc0399e683310bc670a9600ddf617fe3)
        ;

        
    
    
            circle_marker_43ba8d63821fd8d8a62943e4622c6dd8.bindTooltip(
                `<div>
                     PROSTITUTION
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_9830520fd1adfd4abb78882355ef958c = L.circleMarker(
                [37.760433, -122.41593],
                {"bubblingMouseEvents": true, "color": "#1f77b4", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#1f77b4", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 5}
            ).addTo(map_aa54e1b03dca3516cf3395b1880ac417);
        
    
        var popup_a0492d0f1e3a6ec9fb4a70c12e108c9c = L.popup({"maxWidth": "100%"});

        
            
                var html_c54d051646e996bdb33fedf102686bab = $(`<div id="html_c54d051646e996bdb33fedf102686bab" style="width: 100.0%; height: 100.0%;"><i>PROSTITUTION: 872 cases </i></div>`)[0];
                popup_a0492d0f1e3a6ec9fb4a70c12e108c9c.setContent(html_c54d051646e996bdb33fedf102686bab);
            
        

        circle_marker_9830520fd1adfd4abb78882355ef958c.bindPopup(popup_a0492d0f1e3a6ec9fb4a70c12e108c9c)
        ;

        
    
    
            circle_marker_9830520fd1adfd4abb78882355ef958c.bindTooltip(
                `<div>
                     PROSTITUTION
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_da511174006f732ed79e9c39d900794f = L.circleMarker(
                [37.787965, -122.418468],
                {"bubblingMouseEvents": true, "color": "#1f77b4", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#1f77b4", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 5}
            ).addTo(map_aa54e1b03dca3516cf3395b1880ac417);
        
    
        var popup_84eb070d95f793591cbcf53f648e260a = L.popup({"maxWidth": "100%"});

        
            
                var html_d8f9a00eb4b40d78700437fe8a468cd7 = $(`<div id="html_d8f9a00eb4b40d78700437fe8a468cd7" style="width: 100.0%; height: 100.0%;"><i>PROSTITUTION: 685 cases </i></div>`)[0];
                popup_84eb070d95f793591cbcf53f648e260a.setContent(html_d8f9a00eb4b40d78700437fe8a468cd7);
            
        

        circle_marker_da511174006f732ed79e9c39d900794f.bindPopup(popup_84eb070d95f793591cbcf53f648e260a)
        ;

        
    
    
            circle_marker_da511174006f732ed79e9c39d900794f.bindTooltip(
                `<div>
                     PROSTITUTION
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_67a0d7afd2a1814d6524d1976f926392 = L.circleMarker(
                [37.787037, -122.418274],
                {"bubblingMouseEvents": true, "color": "#1f77b4", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#1f77b4", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 5}
            ).addTo(map_aa54e1b03dca3516cf3395b1880ac417);
        
    
        var popup_b3ee55fc10b68433efbc336c2c5623d2 = L.popup({"maxWidth": "100%"});

        
            
                var html_7b0699b1a7d92e684d11f4889cca6fd6 = $(`<div id="html_7b0699b1a7d92e684d11f4889cca6fd6" style="width: 100.0%; height: 100.0%;"><i>PROSTITUTION: 603 cases </i></div>`)[0];
                popup_b3ee55fc10b68433efbc336c2c5623d2.setContent(html_7b0699b1a7d92e684d11f4889cca6fd6);
            
        

        circle_marker_67a0d7afd2a1814d6524d1976f926392.bindPopup(popup_b3ee55fc10b68433efbc336c2c5623d2)
        ;

        
    
    
            circle_marker_67a0d7afd2a1814d6524d1976f926392.bindTooltip(
                `<div>
                     PROSTITUTION
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_ae6be36d991bbd130a37ec2d524a2026 = L.circleMarker(
                [37.787486, -122.418369],
                {"bubblingMouseEvents": true, "color": "#1f77b4", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#1f77b4", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 5}
            ).addTo(map_aa54e1b03dca3516cf3395b1880ac417);
        
    
        var popup_8817348467cb3fbacb86abb154e37f1d = L.popup({"maxWidth": "100%"});

        
            
                var html_c956c32a64772a61eaeee74a19cd6257 = $(`<div id="html_c956c32a64772a61eaeee74a19cd6257" style="width: 100.0%; height: 100.0%;"><i>PROSTITUTION: 551 cases </i></div>`)[0];
                popup_8817348467cb3fbacb86abb154e37f1d.setContent(html_c956c32a64772a61eaeee74a19cd6257);
            
        

        circle_marker_ae6be36d991bbd130a37ec2d524a2026.bindPopup(popup_8817348467cb3fbacb86abb154e37f1d)
        ;

        
    
    
            circle_marker_ae6be36d991bbd130a37ec2d524a2026.bindTooltip(
                `<div>
                     PROSTITUTION
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_6dc8c02bf13dfbaeaf2651b228e2b094 = L.circleMarker(
                [37.765249, -122.41639],
                {"bubblingMouseEvents": true, "color": "#1f77b4", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#1f77b4", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 5}
            ).addTo(map_aa54e1b03dca3516cf3395b1880ac417);
        
    
        var popup_0a18cf489f84b295e8bae32df9d8d0cd = L.popup({"maxWidth": "100%"});

        
            
                var html_bf4c4ded07d0fb74574d3afa7ab2a8fa = $(`<div id="html_bf4c4ded07d0fb74574d3afa7ab2a8fa" style="width: 100.0%; height: 100.0%;"><i>PROSTITUTION: 478 cases </i></div>`)[0];
                popup_0a18cf489f84b295e8bae32df9d8d0cd.setContent(html_bf4c4ded07d0fb74574d3afa7ab2a8fa);
            
        

        circle_marker_6dc8c02bf13dfbaeaf2651b228e2b094.bindPopup(popup_0a18cf489f84b295e8bae32df9d8d0cd)
        ;

        
    
    
            circle_marker_6dc8c02bf13dfbaeaf2651b228e2b094.bindTooltip(
                `<div>
                     PROSTITUTION
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_21de941c53d3debd8b8a41cb873d3711 = L.circleMarker(
                [37.758697, -122.417964],
                {"bubblingMouseEvents": true, "color": "#1f77b4", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#1f77b4", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 5}
            ).addTo(map_aa54e1b03dca3516cf3395b1880ac417);
        
    
        var popup_b40517eb067b267a569f3e5b359647b0 = L.popup({"maxWidth": "100%"});

        
            
                var html_348cdd111d469d541cd61306edde6cf1 = $(`<div id="html_348cdd111d469d541cd61306edde6cf1" style="width: 100.0%; height: 100.0%;"><i>PROSTITUTION: 449 cases </i></div>`)[0];
                popup_b40517eb067b267a569f3e5b359647b0.setContent(html_348cdd111d469d541cd61306edde6cf1);
            
        

        circle_marker_21de941c53d3debd8b8a41cb873d3711.bindPopup(popup_b40517eb067b267a569f3e5b359647b0)
        ;

        
    
    
            circle_marker_21de941c53d3debd8b8a41cb873d3711.bindTooltip(
                `<div>
                     PROSTITUTION
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_6bdac2a35a565b0bb7fb80863f5f7582 = L.circleMarker(
                [37.764221, -122.419658],
                {"bubblingMouseEvents": true, "color": "#ff7f0e", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff7f0e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 5}
            ).addTo(map_aa54e1b03dca3516cf3395b1880ac417);
        
    
        var popup_e1ddcd329ad4d4d825af8508c8b5eab3 = L.popup({"maxWidth": "100%"});

        
            
                var html_5109ac8ec89d3d35c8cbd7c0a469cd92 = $(`<div id="html_5109ac8ec89d3d35c8cbd7c0a469cd92" style="width: 100.0%; height: 100.0%;"><i>DRUG/NARCOTIC: 3461 cases </i></div>`)[0];
                popup_e1ddcd329ad4d4d825af8508c8b5eab3.setContent(html_5109ac8ec89d3d35c8cbd7c0a469cd92);
            
        

        circle_marker_6bdac2a35a565b0bb7fb80863f5f7582.bindPopup(popup_e1ddcd329ad4d4d825af8508c8b5eab3)
        ;

        
    
    
            circle_marker_6bdac2a35a565b0bb7fb80863f5f7582.bindTooltip(
                `<div>
                     DRUG/NARCOTIC
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_bb13a4d95c36355e6f278dfd4bb6c348 = L.circleMarker(
                [37.775421, -122.403405],
                {"bubblingMouseEvents": true, "color": "#ff7f0e", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff7f0e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 5}
            ).addTo(map_aa54e1b03dca3516cf3395b1880ac417);
        
    
        var popup_3a1d14dc354685fc2a3585837ae1fc87 = L.popup({"maxWidth": "100%"});

        
            
                var html_d592f0fc89dd5bc5c17e6b5b98bda9b9 = $(`<div id="html_d592f0fc89dd5bc5c17e6b5b98bda9b9" style="width: 100.0%; height: 100.0%;"><i>DRUG/NARCOTIC: 1684 cases </i></div>`)[0];
                popup_3a1d14dc354685fc2a3585837ae1fc87.setContent(html_d592f0fc89dd5bc5c17e6b5b98bda9b9);
            
        

        circle_marker_bb13a4d95c36355e6f278dfd4bb6c348.bindPopup(popup_3a1d14dc354685fc2a3585837ae1fc87)
        ;

        
    
    
            circle_marker_bb13a4d95c36355e6f278dfd4bb6c348.bindTooltip(
                `<div>
                     DRUG/NARCOTIC
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_d6bdb01ae35778ed6de65f240bf657b6 = L.circleMarker(
                [37.782793, -122.414056],
                {"bubblingMouseEvents": true, "color": "#ff7f0e", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff7f0e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 5}
            ).addTo(map_aa54e1b03dca3516cf3395b1880ac417);
        
    
        var popup_a2bd4f88bfe14ab4291768b9f518e2c2 = L.popup({"maxWidth": "100%"});

        
            
                var html_d7ad4e81c2317c75b526e3d8d9f811c3 = $(`<div id="html_d7ad4e81c2317c75b526e3d8d9f811c3" style="width: 100.0%; height: 100.0%;"><i>DRUG/NARCOTIC: 1515 cases </i></div>`)[0];
                popup_a2bd4f88bfe14ab4291768b9f518e2c2.setContent(html_d7ad4e81c2317c75b526e3d8d9f811c3);
            
        

        circle_marker_d6bdb01ae35778ed6de65f240bf657b6.bindPopup(popup_a2bd4f88bfe14ab4291768b9f518e2c2)
        ;

        
    
    
            circle_marker_d6bdb01ae35778ed6de65f240bf657b6.bindTooltip(
                `<div>
                     DRUG/NARCOTIC
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_132de25b62cee4dc9821148c2c73dfc1 = L.circleMarker(
                [37.783386, -122.409854],
                {"bubblingMouseEvents": true, "color": "#ff7f0e", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff7f0e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 5}
            ).addTo(map_aa54e1b03dca3516cf3395b1880ac417);
        
    
        var popup_c455a0835b4fc01603392a3f9da7535e = L.popup({"maxWidth": "100%"});

        
            
                var html_abcfd085df5d866126cac4c62431866c = $(`<div id="html_abcfd085df5d866126cac4c62431866c" style="width: 100.0%; height: 100.0%;"><i>DRUG/NARCOTIC: 1469 cases </i></div>`)[0];
                popup_c455a0835b4fc01603392a3f9da7535e.setContent(html_abcfd085df5d866126cac4c62431866c);
            
        

        circle_marker_132de25b62cee4dc9821148c2c73dfc1.bindPopup(popup_c455a0835b4fc01603392a3f9da7535e)
        ;

        
    
    
            circle_marker_132de25b62cee4dc9821148c2c73dfc1.bindTooltip(
                `<div>
                     DRUG/NARCOTIC
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_26d51cde94cdea8c47712178cfa8c636 = L.circleMarker(
                [37.783215, -122.410769],
                {"bubblingMouseEvents": true, "color": "#ff7f0e", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff7f0e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 5}
            ).addTo(map_aa54e1b03dca3516cf3395b1880ac417);
        
    
        var popup_f8e2d68e870f772462d8ebcc5a00fd77 = L.popup({"maxWidth": "100%"});

        
            
                var html_45459bf5f350edc4cfd8dd0560efef4a = $(`<div id="html_45459bf5f350edc4cfd8dd0560efef4a" style="width: 100.0%; height: 100.0%;"><i>DRUG/NARCOTIC: 1459 cases </i></div>`)[0];
                popup_f8e2d68e870f772462d8ebcc5a00fd77.setContent(html_45459bf5f350edc4cfd8dd0560efef4a);
            
        

        circle_marker_26d51cde94cdea8c47712178cfa8c636.bindPopup(popup_f8e2d68e870f772462d8ebcc5a00fd77)
        ;

        
    
    
            circle_marker_26d51cde94cdea8c47712178cfa8c636.bindTooltip(
                `<div>
                     DRUG/NARCOTIC
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_3c244ce9025850a4ecff709578854d7a = L.circleMarker(
                [37.781751, -122.411071],
                {"bubblingMouseEvents": true, "color": "#ff7f0e", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff7f0e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 5}
            ).addTo(map_aa54e1b03dca3516cf3395b1880ac417);
        
    
        var popup_dbbfa9610ad446bcb5b947f3025a3ee0 = L.popup({"maxWidth": "100%"});

        
            
                var html_b527c38dc2580ac502edff68cf64e306 = $(`<div id="html_b527c38dc2580ac502edff68cf64e306" style="width: 100.0%; height: 100.0%;"><i>DRUG/NARCOTIC: 1306 cases </i></div>`)[0];
                popup_dbbfa9610ad446bcb5b947f3025a3ee0.setContent(html_b527c38dc2580ac502edff68cf64e306);
            
        

        circle_marker_3c244ce9025850a4ecff709578854d7a.bindPopup(popup_dbbfa9610ad446bcb5b947f3025a3ee0)
        ;

        
    
    
            circle_marker_3c244ce9025850a4ecff709578854d7a.bindTooltip(
                `<div>
                     DRUG/NARCOTIC
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_5a364ea8989fcc729b47bee0c12ce399 = L.circleMarker(
                [37.781862, -122.41387],
                {"bubblingMouseEvents": true, "color": "#ff7f0e", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff7f0e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 5}
            ).addTo(map_aa54e1b03dca3516cf3395b1880ac417);
        
    
        var popup_4c8bc309741ca37b1afda9c73885024b = L.popup({"maxWidth": "100%"});

        
            
                var html_2337d5f9b08dd852db1ff6f06b2042ce = $(`<div id="html_2337d5f9b08dd852db1ff6f06b2042ce" style="width: 100.0%; height: 100.0%;"><i>DRUG/NARCOTIC: 1211 cases </i></div>`)[0];
                popup_4c8bc309741ca37b1afda9c73885024b.setContent(html_2337d5f9b08dd852db1ff6f06b2042ce);
            
        

        circle_marker_5a364ea8989fcc729b47bee0c12ce399.bindPopup(popup_4c8bc309741ca37b1afda9c73885024b)
        ;

        
    
    
            circle_marker_5a364ea8989fcc729b47bee0c12ce399.bindTooltip(
                `<div>
                     DRUG/NARCOTIC
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_7ed92529b303d5d186ca957d57aab850 = L.circleMarker(
                [37.76505, -122.419672],
                {"bubblingMouseEvents": true, "color": "#ff7f0e", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff7f0e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 5}
            ).addTo(map_aa54e1b03dca3516cf3395b1880ac417);
        
    
        var popup_18c011d7d7c455ce8c9c9c33125aaf9b = L.popup({"maxWidth": "100%"});

        
            
                var html_1d0f349fc34f1cbcda3f44171d74fc70 = $(`<div id="html_1d0f349fc34f1cbcda3f44171d74fc70" style="width: 100.0%; height: 100.0%;"><i>DRUG/NARCOTIC: 1198 cases </i></div>`)[0];
                popup_18c011d7d7c455ce8c9c9c33125aaf9b.setContent(html_1d0f349fc34f1cbcda3f44171d74fc70);
            
        

        circle_marker_7ed92529b303d5d186ca957d57aab850.bindPopup(popup_18c011d7d7c455ce8c9c9c33125aaf9b)
        ;

        
    
    
            circle_marker_7ed92529b303d5d186ca957d57aab850.bindTooltip(
                `<div>
                     DRUG/NARCOTIC
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>